<div class='container'>
    <div class='consult__inner'>
        <img src="img/mail.svg" alt="" class="consult__mail">
        <div class="consult__title">Хотите получать актуальную информацию профессиональных моющих средствах?</div>
        <form action="" class="consult__form">
            <fieldset class='consult__form-group form-group form-group--error'>
                <input type='email' placeholder="Ваша почта" />
                <span class="form-group__error">Неверный Email введен</span>
            </fieldset>
            <button class="consult__btn btn btn-blue">Подписаться</button>
        </form>
        <div class="consult__hint">Небольшая рассылка 1 раз в неделю о новых разработках Кинтек</div>
    </div>
</div>