<div class="container">
    <div class="header-catalog__hidden-wrap">
        <div class="header-catalog__hidden-title">@@title</div>
        <div class="header-catalog__hidden-links">
            <a href="" class="header-catalog__hidden-link">Антисептическая обработка рук</a>
            <a href="" class="header-catalog__hidden-link">Дезинфекция поверхностей</a>
            <a href="" class="header-catalog__hidden-link">Антисептическая обработка рук</a>
            <a href="" class="header-catalog__hidden-link">Гигиена санузлов</a>
            <a href="" class="header-catalog__hidden-link">Универсальные моющие средства</a>
            <a href="" class="header-catalog__hidden-link">Гигиена санузлов</a>
            <a href="" class="header-catalog__hidden-link">Средства для стирки</a>
            <a href="" class="header-catalog__hidden-link">Средства для ухода за стеклянными поверхностями</a>
            <a href="" class="header-catalog__hidden-link">Средства для стирки</a>
            <a href="" class="header-catalog__hidden-link">Средства для экспресс уборки</a>
            <a href="" class="header-catalog__hidden-link">Уничтожение запахов</a>
            <a href="" class="header-catalog__hidden-link">Средства для экспресс уборки</a>
            <a href="" class="header-catalog__hidden-link">Промышленные обезжириватели</a>
            <a href="" class="header-catalog__hidden-link">Удаление наклеек, скотчка, граффити и пигментных пятен</a>
            <a href="" class="header-catalog__hidden-link">Промышленные обезжириватели</a>
            <a href="" class="header-catalog__hidden-link">Дезинфекция поверхностей</a>
            <a href="" class="header-catalog__hidden-link">Дезинфекция поверхностей</a>
            <a href="" class="header-catalog__hidden-link">Дезинфекция поверхностей</a>
        </div>
    </div>
</div>